.title {
	margin: 0;
	line-height: 1.15;
	padding: 1.5rem 2rem;
	font-size: 1.5rem;
	font-weight: 400;
}

.title,
.description {
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	line-height: 1.2rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.infoPanel {
	padding: 0.7rem 2rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	flex: 0 1 auto;
	gap: 0.5rem;
}

.bold {
	font-weight: 600;
}

.loader {
	margin: 2rem auto;
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
	transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}